.paragraph{color:#00aaff; font-size:28px;}

body{background-color:#fffb00;}

#pageTitle{color: #ff0033; font-size: 40px;}  

button {
    padding-inline-start: 0%;
    height: 2rem;
    background-color:#ff6a00;
}
#fix{font-family:'Courier New', Courier, monospace; color: rgb(103, 18, 18); font-size:xx-large;}

h1 {color: rgb(76, 0, 255);font-family:'Courier New', Courier, monospace;}

img { margin-left:2%;
    margin-top: 5%;
    width:auto;
    height: 290px;}


.font{
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

.bottom-btn {
  position: fixed;
  bottom: 10px;  
  right: 10px;
  padding: 10px 20px;}

  .bottom{  position: fixed;
  bottom: 10px;  
left: 10px;
  padding: 10px 20px;}

  .bottom-middle{position: fixed;
  bottom: 10px;  
  left: 50%;
  padding: 10px 20px;}

.font2{  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
  font-weight: 400;
  font-style: normal;
  font-size: x-large; color:rgb(9, 150, 32);}

  .head{font-family:'Courier New', Courier, monospace; color:rgb(6, 155, 145)}


  .font3{ font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
  font-weight: 480;
  font-style: normal;
  font-size: large; color:rgb(232, 140, 223);}
